{% extends "layout.html" %}
{% block content %}

    <main role="main" class="inner cover">
        <h2 class="cover-heading">Isaac Ayeyi Turkson</h2>
        <p class="lead">My name is Isaac Ayeyi Turkson. I come from Ghana, West Africa and currently pursuing in BS
          in Electrical and Computer Engineering. I am passionate about technology and its value in shaping the African
      continent to at least catch up with the advancement in technology in other parts of the world.</p>
        <p>In our current digital age, it is important that every single human being is acquainted with new emerging 
      technologies and how to use them. I cannot not over emphasize the benefit of digital technology to humanity, thus 
      making it imperative that everyone knows what the new technology is.</p>
        <p>I strive to benefit my immediate comunities, cities, continent and the world by creating webapps, electronics 
      or hardware techs that impact my society.</p>
        <p>Explore my page to learn more about some of these projects I have started or have in mind and perhaps
      understand more about what I am trying to say.</p>
    </main>

{% endblock content %}